<div id="form_actions"></div>

<br>
<h3>Editions</h3>
<ul>
	<li>
		<%= link_to "#{@titre}", prestations_print_path(search:@date, classe:@classe, periode:@periode, totaux:@totaux) %> 
	</li>
	<li>
		<%= link_to "Etat mensuel", factures_stats_mensuelle_params_path %>
	</li>
</ul>
