Sauvegarde réussie. <br><br>
Veuillez cliquer sur le fichier ci-dessous pour le télécharger.  <br><br>
<a href="/<%= @filename %>"><%= @filename %> </a>
<br><br><br>
<%= link_to "Retour au résumé", :action => 'setup'  %>
