<h2>Présentation de l'application</h2>

<h3>Pour qui ?</h3>
openCantine est destiné aux petites collectivités, mairies, écoles, centre de loisirs... Cette solution vous aidera dans l’organisation de votre mairie et vous fera gagner un temps précieux en simplifiant la gestion administrative et la facturation de vos cantines et services péri-scolaires.
<br><br>
<h3>Comment ça marche ?</h3>
Vous disposez d’un ordinateur et d’un accès internet : alors vous avez déjà toute l’infrastructure nécessaire pour utiliser nos solutions ! 100% web, vous accédez à volonté à votre plateforme dédiée, nous nous chargeons d’héberger et de sécuriser vos données.
<br><br>
<h3>Un logiciel simple, évolutif et innovant</h3>
Conçu avec pour objectif la simplicité d'utilisation et de maintenance, notre logiciel permet une gestion efficace des familles, enfants, inscriptions, présences et la facturation des prestations de garderie et/ou de cantine. 
L'application openCantine vous permet de gérer les données relatives à vos inscriptions par Famille, par Enfant ou par Prestations. Deux modules vous permettent d'assurer le suivi de vos Factures et Paiements.
<br><br>

<h3>Un usage simplifi&eacute;</h3>
<ul>
	<li>
		<p>Prise en main imm&eacute;diate.</p>
	</li>
	<li>
		<p>Une comptabilit&eacute; simple par famille. Une facture par mois avec solde. Balance famille.</p>
	</li>
	<li>
		<p>Pré-inscriptions ou pointage des présences par classe. Pointage automatique pr&eacute;sences par douchette code-barres</p>
	</li>
	<li>
		<p>Mode de calcul facturation personnalisables. Annulation avec ou sans jours de carence.</p>
	</li>
	<li>
		<p>Les familles peuvent consulter comptes et r&eacute;servations par Internet et sur iPhone.</p>
	</li>
	<li>
		<p>Envoi des factures PDF par email.</p>
	</li>
	<li>
		<p>Etat mensuel des factures et paiements.</p>
	</li>
	<li>
		<p>Ne d&eacute;pend pas d&#39;une soci&eacute;t&eacute;. Code source librement disponible sur <a href="https://adullact.net/projects/opencantine/">la forge Adullact</a><br />
			&nbsp;</p>
	</li>
</ul>
<h3>Une informatique &#39;dans le nuage&#39;</h3>
<ul>
	<li>
		<p>Pas de logiciel &agrave; installer, un simple navigateur Internet suffit (Firefox conseill&eacute;)</p>
	</li>
	<li>
		<p>Pas de mise &agrave; jour &agrave; g&eacute;rer, l&#39;application est mise &agrave; jour automatiquement</p>
	</li>
	<li>
		<p>Nombre d&#39;utilisateurs illimit&eacute;. Droits d&#39;acc&egrave;s lecture seule pour les invit&eacute;s&nbsp;</p>
	</li>
	<li>
		<p>Pas de serveur &agrave; installer et &agrave; administer. Pas de sauvegardes &agrave; g&eacute;rer</p>
	</li>
</ul>
<br>
<br>


