<h2>Présentation de l'application</h2>

<h3>Pour qui ?</h3>
openCantine est destiné aux petites collectivités, mairies, écoles, centre de loisirs... Cette solution vous aidera dans l’organisation de votre mairie et vous fera gagner un temps précieux en simplifiant la gestion administrative et la facturation de vos cantines et services péri-scolaires.
<br><br>
<h3>Comment ça marche ?</h3>
Vous disposez d’un ordinateur et d’un accès internet : alors vous avez déjà toute l’infrastructure nécessaire pour utiliser nos solutions ! 100% web, vous accédez à volonté à votre plateforme dédiée, nous nous chargeons d’héberger et de sécuriser vos données.
<br><br>
<h3>Un logiciel simple, évolutif et innovant</h3>
Conçu avec pour objectif la simplicité d'utilisation et de maintenance, notre logiciel permet une gestion efficace des familles, enfants, inscriptions, présences et la facturation des prestations de garderie et/ou de cantine. 
L'application openCantine vous permet de gérer les données relatives à vos inscriptions par Famille, par Enfant ou par Prestations. Deux modules vous permettent d'assurer le suivi de vos Factures et Paiements.
<br><br>

<h3>Un usage simplifié</h3>
<ul>
	<li>
		<p>Prise en main immédiate.</p>
	</li>
	<li>
		<p>Une comptabilité simple par famille. Une facture par mois avec solde. Balance famille.</p>
	</li>
	<li>
		<p>Pré-inscriptions ou pointage des présences par classe. Pointage automatique présences par douchette code-barres</p>
	</li>
	<li>
		<p>Mode de calcul facturation personnalisables. Annulation avec ou sans jours de carence.</p>
	</li>
	<li>
		<p>Les familles peuvent consulter comptes et réservations par Internet et sur iPhone.</p>
	</li>
	<li>
		<p>Envoi des factures PDF par email.</p>
	</li>
	<li>
		<p>Etat mensuel des factures et paiements.</p>
	</li>
	<li>
		<p>Ne dépend pas d'une société. Code source librement disponible sur <a href="https://adullact.net/projects/opencantine/">la forge Adullact</a><br />
			&nbsp;</p>
	</li>
</ul>
<h3>Une informatique 'dans le nuage'</h3>
<ul>
	<li>
		<p>Pas de logiciel à installer, un simple navigateur Internet suffit (Firefox conseillé)</p>
	</li>
	<li>
		<p>Pas de mise à jour à gérer, l'application est mise à jour automatiquement</p>
	</li>
	<li>
		<p>Nombre d'utilisateurs illimité. Droits d'accès lecture seule pour les invités&nbsp;</p>
	</li>
	<li>
		<p>Pas de serveur à installer et à administer. Pas de sauvegardes à gérer</p>
	</li>
</ul>
Pour en savoir plus, consultez le <%= link_to "Guide d'utilisation", :action => "guide" %> 
<br><br>
<%= link_to "Retour à l'accueil", "/" %>
<br>
<br>



