<br>
<br>
<br>
<div style="padding-left:10%;width:60%;font-size:110%">

  <%= image_tag '/images/playground.png' %>
  <%= image_tag '/images/diner.png' %>
  <%= image_tag '/images/picnic.png' %>

  <h2 style="color:#df2599">macantine.happycity.fr</h2>
  macantine.happycity.fr est un nouvel outil en ligne pour gérer la facturation des cantines et services péri-scolaire. 
  <a href="/guide_macantine.happycity.fr.pdf">Guide d'utilisation</a>

  <h2 style="color:gray">Pour qui ?</h2>
  macantine.happycity.fr est destiné aux petites collectivités, mairies, écoles, centre de loisirs...<br>
  Cette solution vous aidera dans l’organisation de votre mairie et vous fera gagner un temps précieux.

  <h2 style="color:gray">Comment ça marche ?</h2>
  Vous disposez d’un ordinateur et d’un accès internet ? Alors vous avez déjà toute l’infrastructure nécessaire pour utiliser nos solutions !<br>
  100% web, vous accédez à volonté à votre plateforme dédiée. Nous nous chargeons d’héberger et de sécuriser vos données.<br>

  <h2 style="color:gray">Un service évolutif et innovant</h2>
  Au delà de l’outil, vous rejoignez la communauté des utilisateurs qui décide des évolutions du produit : lorsque de nouvelles fonctionnalités apparaissent sur le produit, c’est toute la communauté qui en bénéficie !<br><br>
  Aucun investissement de départ n’est nécessaire, tout est inclus dans l’abonnement mensuel, accessible à tous les budgets.  Aussi, si vous nous aidez à faire connaître le produit, vous bénéficiez d’une remise permanente sur l’abonnement (et non uniquement la première année !).

  <h2 style="color:gray">HappyCity.fr ?? Mais qu'est ce que c'est ?</h2>
  C'est peut-être votre ville ! Ce service en ligne s'ajoute aux services existants déjà proposés par votre site internet.
  Plus qu'une application, nous vous proposons une plateforme prête à recevoir tous les services que vous imaginerez pour vos agents et administrés.
  Depuis plus de 10 ans, nous créons des solutions métiers sur mesures. Nous sommes à votre écoute pour tous vos projets.

  <h2 style="color:gray">Les points forts</h2>
  Un usage simplifié
  <ul>
    <li>Prise en main immédiate</li>
    <li>Une comptabilité par famille</li>
    <li>Inscription de tous les enfants d'une famille en une fois</li>
    <li>Inscription manuelle ou automatique</li>
    <li>Compte famille consultable en ligne</li>
    <li>Paiement en ligne (PayPal  / GoogleCheckout)</li>
    <li>Accès optimisé pour iPhone de la consultation des inscriptions et compte de la famille.</li>
    <li>Compatible avec les lecteurs RFID pour le pointage automatique de présence</li>
  </ul>
  <br>
  Un coût maitrisé
  <ul>
    <li>Pas de logiciel à installer, un simple navigateur internet suffit</li>
    <li>Pas de mise à jour à gérer, l'application est toujours à jour</li>
    <li>Nombre d'utilisateurs illimité.</li>
    <li>Pas de serveur à installer et à administer</li>
    <li>Fonctionne sur PC Windows, MAC et Linux</li>
  </ul>

  <h2 style="color:gray">Les tarifs</h2>
  La grille des tarifs est assez simple, puisqu'il s'agit d'un abonnement couvrant l'hébergement et la maintenance de l'application. Tout est compris !<br>
  <br>
  L'abonnement à la formule de base est de 990€ HT par an et par établissement, pour un nombre d'utilisateurs illimité.<br>
  <br>
  Si vous avez des besoins complémentaires comme des options (accès iPhone, PayPal, RFID, etc.), de la formation ou une adaptation de l'application à un besoin spécifique, un devis relatif à ces prestations vous sera établi.
  <h2 style="color:gray">Qui sommes-nous ?</h2>
  Depuis plus de 10 ans, Capcod crée des solutions métiers sur mesures.<br>
  Nous sommes à votre disposition pour vous fournir de la prestation de service afin d'installer, de configurer, d'héberger, et de modifier votre propre version de macantine.happycity.fr <br>
  <br>
  Faites nous part de vos besoins !
  <br><br>
  CAPCOD SARL<br>
  10, rue de Meaux<br>
  93220 GAGNY<br>
  01.43.32.82.18<br>
  philippe (@) capcod . com<br> 
  <br>
  Société à responsabilité limitée au capital de 22.862 € - RCS: 419 549 688 Paris
  <br><br>
  CAPCOD est membre de l'association Adullact (Association des Développeurs et des Utilisateurs de Logiciels Libres pour l'Administration et les Collectivités Territoriales)
  <br>
</div>