<div class="span-14 last">
	<br><br>

	<h3>Changer de mot de passe</h3>
	<br>

	<%= simple_form_for(@user, :url => 'user_update') do |f| %>

		<%= f.input :username , :label => "Utilisateur", :disabled => true %>
		<%= f.input :password, :label => "Mot de passe", :required => true %>
		<%= f.submit '' %>
			
	<% end %>

</div>

