<br>
<h3>Envoyée !</h3>
La facture <b><%= @facture.ref %></b> a bien été envoyée par mail à la famille <b><%= @famille.nom %></b> (<%= @famille.email %>).
<br><br>
<%= link_to "Retour aux Factures", factures_path %>




