<div id="form_actions"></div>

<br>
<h3>Etat mensuel de la facturation</h3>
Compte le nombre de factures et totalise les montants des prestations de cantine, garderie, centre et étude.
<br><br>

<h4>Choisir un mois</h4>
<%= simple_form_for(:stats, :url => {:action => "stats_mensuelle_do"}) do |f| %>
	<%= f.input :mois, :collection => 1..12,  :selected => Date.today.month %>
	<%= f.input :an, :collection => 2010..2020, :label => 'Année',  :selected => Date.today.year %>
	<br>
	<div style="margin-left:170px;">
		<%= f.submit "Calculer" %>
	</div>	
<% end %>

 
