<br><br>
<h3>Rejoignez la communauté des utilisateurs qui décident des évolutions d'openCantine !</h3>
Exprimez ici vos souhaits et remarques sur l'utilisation d'openCantine, j'en tiendrai compte lors des prochaines phases de développement.
<br> 
Les nouvelles fonctionnalités bénéficieront à toute la communauté des utilisateurs... 
<br><br>
<h3>Vos souhaits :</h3> 
Les plus anciens et non réalisés d'abord. <i>Mes commentaires en dessous, en italiques</i>
<br><br>
<ul>
<% for todo in @todos %>
	<li><b><%= todo.description %></b></li>
	<%= "C'est fait." if todo.done %>
	<% if todo.note %>
		<%= h todo.note %></i>
		<br>
	<% end %>
	<br>
<% end %>
</ul>
Vous aussi, vous souhaitez faire une remarque ou demander une nouvelle fonctionnalité ? 
<%= link_to 'Nouvelle remarque', new_todo_path %>
<br><br>
<h3>openCantine vous aide au quotidien ?</h3> 
Vous pouvez participer en faisant un don ou en passant commande d'un travail facturé.<br>
Merci d'avance. Philippe Nougaillon<br>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="2E6TX7L2NZUH6">
	<input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - la solution de paiement en ligne la plus simple et la plus sécurisée !">
	<img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
</form>
<br><br>
