body {
  font-size:   14px;
}

p, ol, ul {
  background-color: #F8F8F8;
}

a { color: #000;text-decoration: underline; }
a:visited { color: #000;text-decoration:none  }


pre {
  padding: 10px;
  font-size: 11px;
}

#login {
  text-align: right;
}

#login a {
  color: black;	
}

#ajaxzone {
    font-size: 13px;
    height: 70px;
    width: 97%;
		
}

fieldset {
    background-color: #eee;
    padding-top:15px;
    padding-bottom:5px;
    padding-left: 10px;
    width: 99%;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-border-radius: 6px;
}

#form_actions {
  background-color: #eee;
  padding-top:15px;
  padding-bottom:5px;
  padding-left: 10px;
  width: 99%;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;

}

#form_actions a {
	color:black;
}

#form_body {
  #background-color: #eef;
  padding-top:10px;
  padding-bottom:5px;
  padding-bottom: 15px;
  #width: 99%;
}

#msgzone {
	height: 40px;
}

#title {
    color:  black;
    font-size: 20px;
    font-family: Helvetica,sans-serif;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 0px;
}
#title img {
	width: 30px;
}

#title a {
	text-decoration: none;
	color:#df2599;
}


#menu {
  font-size: 14px;
  font-weight: bold;
  padding-left:10px;
  padding-right:10px;	
	padding-top:5px;
}

#menu img {
  width: 25px;
}

#menu a {
  text-decoration: none;
	color: gray;
}

#menuCurrent {
  font-size: 14px;
  font-weight: bold;
  background-color: #eee;
	border-width: 1px 1px 0px 1px;
	padding-top:5px;
	padding-left:10px;
 	padding-right:10px;	

	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

#menuCurrent a {
    color: green;
    text-decoration: none;
}

#menuCurrent img {
    width: 25px;
}

h3 {
    border-bottom-color: #000000;
    border-bottom-width: 1px;
    border-bottom-style: groove;
    width: 100%;
    color: #8b0000;
}

h4 {
    border-bottom-color: #000000;
    border-bottom-width: 1px;
    border-bottom-style: groove;
    width: 100%;
    color: green;
}

table.sample {
	border-width: 1px 1px 1px 1px;
	border-spacing: 1px;
	border-color: light-gray;
	border-collapse: separate;
  color:  black;
}

table.sample th {
	background-color: rgb(250, 250, 250);
  color: 	green;
}

table.sample th a {
  color: 	green;
}

table.sample th a:hover {
  color: 	black;
}

table.sample .center {
  text-align:center;
}

table.sample #sum {
	text-align:right;
	font-weight:bold; 
}

table.sample #euros {
  text-align:right;
}

table.sample #number {
	text-align:right;
}
table.sample a {
  color: black;
}
table.sample a:hover {
  text-decoration: none;
  background-color: white;
  color: black;
}

#adroite {
  margin-left: 20px;
}

#adroite a {
  font: 14px Arial;
  text-decoration: none;
  background-color: #808080;
  color: white;
  border-radius: 4px;
  padding: 0px 1.5rem;
}

#error_message {
  position:absolute;
  top: 20px;
  font-weight: bold;
  margin-right: auto;
  margin-left: auto;
  width:1024px; 
  text-align: center;
  background-color: lightyellow;
  color: green;

}

#warning_message {
  position:absolute;
  top: 20px;
  font-weight: bold;
  margin-right: auto;
  margin-left: auto;
  width:1024px; 
  text-align: center;
  background-color: orange;
  color: white;
}

table.form {
    border-width: 1px 1px 1px 1px;
    border-color: gray gray gray gray;
    border-spacing: 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-style: groove groove groove groove;
    padding: 10px 10px 10px 10px;
}

table.form th {
    color:green;
}

table.form #label {
    color:navy;
    text-align:right;
}

table.form input[type="submit"] {
  font: 14px Arial;
  text-decoration: none;
  background-color: green;
  color: white;
  border-radius: 4px;
  padding: 0px 1.5rem;
}


table.show #label {
    color:navy;
    text-align:right;
    padding-right:5px;
}

table.bienvenue {
    text-decoration: none;
    font-family: Helvetica,sans-serif;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #FBFBFB;
    border-width: 1px 1px 1px 1px;
    border-style: groove groove groove groove;
    border-color: gray gray gray gray;
    -moz-border-radius: 5px 5px 5px 5px;
    margin-left: 20px;
    margin-top: 20px;
    width: 60%
}

table.bienvenue hr {
    line-height:1
}

table.bienvenue ul li {
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration:none;
}
table.bienvenue a {
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration:none;
    font-size:120%;
    color: green;
}

table.bienvenue b {
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration:none;
    font-size:120%;
    color: green;
}

table.bienvenue #help {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size:110%;
}


.simple_form div.input {
  margin-bottom: 10px;
  clear: both; /* Required for Webkit, but not for Gecko */
}

.simple_form label {
  float: left;
  width: 150px;
  text-align: right;
  margin: 2px 10px;
}

.simple_form .image_button {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
}

div.boolean {
  margin-left: 170px;
}

.simple_form input[type="submit"] {
  position: relative;
  vertical-align: top;
  width: 160px;
  height: 30px;
  padding: 0;
  font-size: 17px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #19AB58;
  border: 0;
  cursor: pointer;
}
.simple_form input[type="submit"]:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}


div.boolean label, label.collection_radio_buttons {
  float: none;
  margin: 0;
}

label.collection_radio_buttons {
  margin-right: 10px;
  vertical-align: -2px;
  margin-left: 2px;
}

.field_with_errors {
  display: inline;
}

.field_with_errors .message {
  color: #D00;
  padding-left: 5px;
  font-size: 12px;
}

.simple_form .error {
  clear: left;
  color: black;
  display: block;
  margin-left: 120px;
}

.simple_form .hint {
  clear: left;
  margin-left: 170px;
  color: #555;
  display: block;
  font-style: italic;
}

input.radio {
  margin-right: 5px;
  vertical-align: -3px;
}

input.check_boxes {
  margin-left: 3px;
  vertical-align: -3px;
}

label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left: 2px;
}
