@media print {
    body {  font-family: "serif"; }
    #container {
                  width: auto;
                  margin: 0;
                  padding: 0;
                  border: 2px;
    }
}
.pdf_link {
    display: none;
  }

#pdf-no {
    display:none;
}
